body {
    text-align: center;
    background-color: #01baf2;
    }
    h1 {
        background-color: #01baf2;
        width:auto;
    }
    button {
        background-color: #01baf2;
        width:auto;
    }   
    h3 {
        background-color: #01baf2;
        width: auto;
    }
    h2 {
        background-color: #01baf2;
        width: auto;
    }